<div class="topic-meta">
  <div class='topic-category inline sub'>
    {{category-link topic.category}}
  </div>
  {{#if topic.tags}}
    <span class="middot inline sub"></span>
    <div class='discourse-tags inline sub'>
      {{discourse-tags topic mode="list"}}
    </div>
  {{/if}}
</div>
